@import './custom.css';

#app {
  min-height: 100vh;
  /* max-width: 1280px; */
  margin: 0 auto;
  /* padding: 1rem; */
  display: flex;
  flex-direction: column;
  font-family: 'area-variable', sans-serif;
  font-variation-settings:
    'INKT' 100,
    'slnt' 0,
    'wdth' 100,
    'wght' 500;
  text-transform: lowercase;
}

.text-node-span {
  display: inline-block;
  position: relative;
  top: 0.35em;
  pointer-events: none;
}

.text-node-parent {
  background-color: #ccc;
  height: fit-content;
  width: fit-content;
  line-height: 1.2;
}

/* ::target-text {
  background-color: red;
  color: white;
} */

/* main {
  display: grid;
  grid-template-columns: 1fr 1fr;
} */

a {
  cursor: pointer;
}

a,
.heading {
  text-decoration: none;
  color: var(--color-text);
  transition: 0.4s;
}

@media (hover: hover) {
  a:hover {
    background-color: #ffc033 !important;
  }
}

/* text styling */

h1 {
  font-size: 2.5rem;
}

h2 {
  font-size: 2rem;
}

h3 {
  font-size: 1.5rem;
}

h4 {
  font-size: 1.25rem;
}

h5 {
  font-size: 1rem;
}

h6 {
  font-size: 0.875rem;
}

p {
  font-size: 1rem;
}

ul {
  list-style-type: none;
  padding: 0;
}

li {
  margin-bottom: 0.5rem;
}

/* end text styling */
