@import './custom.css';

#app {
  /* max-width: 1280px; */
  margin: 0 auto;
  /* padding: 1rem; */
  display: flex;
  flex-direction: column;
  height: 100%;
  font-family: 'area-variable', sans-serif;
  font-variation-settings:
    'INKT' 100,
    'slnt' 0,
    'wdth' 100,
    'wght' 500;
  text-transform: lowercase;
}

.span-container {
  display: inline-block;
  position: relative;
  top: 0.36em;
  pointer-events: none;
}

.text-node-parent {
  background-color: #ccc;
  width: fit-content;
  /* line-height: 1.2; */
}

/* ::target-text {
  background-color: red;
  color: white;
} */

main {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

a {
  cursor: pointer;
}

a,
.heading {
  text-decoration: none;
  color: var(--color-text);
  transition: 0.4s;

  /* height: 100%; */
}

@media (hover: hover) {
  a:hover {
    background-color: #ffc033cc;
  }
}
