@import './base.css';
@import './font.css';

#app {
  min-height: 100dvh;
  /* max-width: 1280px; */
  margin: 0 auto;
  /* padding: 1rem; */
  display: flex;
  flex-direction: column;
  /* text-transform: lowercase; */
}

.text-node-span {
  display: inline-block;
  position: relative;
  top: 0.35em;
  pointer-events: none;
}

.text-node-parent {
  /* background-color: var(--vt-c-yellow); */
  height: fit-content;
  width: fit-content;
  line-height: 1.2;
}

/* ::target-text {
  background-color: var(--vt-c-red);
  color: white;
} */

/* main {
  display: grid;
  grid-template-columns: 1fr 1fr;
} */

a {
  cursor: pointer;
}

a,
.heading {
  text-decoration: none;
  color: var(--color-text);
  transition: 0.4s;
}

/* @media (hover: hover) {
  a:hover {
    background-color: var(--vt-c-yellow) !important;
  }
} */

/* text styling */

.date {
  color: var(--vt-c-text-light-3);
}

ul {
  list-style-type: none;
  padding: 0;
}

/* li {
  margin-bottom: 0.5rem;
} */

/* end text styling */

/* responsive design */

/* Extra Small (Phones) */
@media screen and (max-width: 480px) {
  .details {
    display: block !important;

    /* Add other styles as needed */
  }

  .details h4 {
    padding-left: 1rem !important;
    /* Add other styles as needed */
  }

  .project-container {
    display: flex !important;
    flex-direction: column !important;
    gap: 1rem;
  }

  h1 {
    font-size: 2rem;
  }

  h2 {
    font-size: 1.5rem;
  }

  h3 {
    --font-wght: 550;
    font-size: 1.25rem;
  }

  h4 {
    --font-wght: 600;
    font-size: 1rem;
  }

  h5 {
    --font-wght: 600;
    font-size: 0.75rem;
  }

  h6 {
    --font-wght: 600;
    font-size: 0.5rem;
  }

  p {
    --font-inkt: 0;
    --font-wght: 400;
    font-size: 0.75rem;
  }

  .icon-container {
    padding: 0rem 1rem !important;
  }

  .secondary {
    flex-direction: column !important;
  }
}

/* Small to Medium Screens (Phones and small tablets) */
@media screen and (min-width: 481px) and (max-width: 767px) {
  /* Styles for medium phones and small tablets */
}

/* Tablets in Portrait Mode */
@media screen and (min-width: 768px) and (max-width: 1024px) {
  /* Styles for tablets */
}

/* Tablets in Landscape Mode / Small Desktops */
@media screen and (min-width: 1025px) and (max-width: 1280px) {
  /* Styles for tablets in landscape and small desktops */
}

/* Larger Desktops */
@media screen and (min-width: 1281px) {
  /* Styles for large desktops */
}
